/.mixin.out
/asm
/assets
/astralsorcery
/BotaniaVars.dat
/Code
/crafttweaker.log
/crash-reports
/CustomSkinLoader
/ExtraBotanyVars.dat
/fancymenu_data
/fancymenu_setups
/fontfiles
/hei_bookmarks.ini
/journeymap
/launcher_profiles.json
/libraries
/local
/logs
/mc-patch-version.txt
/McPatchClient-1.1.12-JarClient.jar
/OpenAL64.dll
/options.txt
/optionsof.txt
/optionsshaders.txt
/patchouli_books
/patchouli_data.json
/PCL.ini
/resourcepacks
/saves
/screenshots
/servers.dat
/shaderpacks
/usercache.json
/usernamecache.json
/versions