# Configuration file

general {

    common {
        B:Data=true
    }

    server {
        S:Authenticate=Key_
    }

    rsa {
        B:CreativeRSA=false
        B:RSA=false
    }

    ##########################################################################################################
    # botania
    #--------------------------------------------------------------------------------------------------------#
    # 必须添加'植物魔法'Mod
    # 如果添加的是'植物魔法'社区版，若遇到冲突您可关闭配置并到植物魔法的配置文件进行修改
    ##########################################################################################################

    botania {
        B:RuneRefunded=true

        runealtar {
            # 如果为'true'则关闭符文祭坛返还配方中的符文(即消耗符文)
            B:RuneRefunded=true
        }

        hourglass {
            # 如果为'true'则修改悬浮沙漏的时间
            # 修改的沙漏填充物品为'魔力资源'，即魔力钢锭等
            B:Hourglass=true

            # 如果Hourglass为'true'则修改悬浮沙漏的时间为下述Tick
            I:HourglassTime=20
        }

        arcanerose {
            # 阿卡纳蔷薇可存储最大魔力数量
            I:ArcaneRoseMaxMana=6000

            # 如果为'true'则应用如下修改
            # 如果添加了‘咕咕工具’则会修复阿卡纳蔷薇无视存储上限的Bug
            # 吸收玩家经验与吸收经验球时超出的部分会被销毁，同时达到容量上限的95时不再吸收经验
            B:Hourglass=true

            # 阿卡纳蔷薇吸收经验球的经验转换比
            I:OrbMana=35

            # 阿卡纳蔷薇每Tick吸收玩家XP的速度
            # 调整此项会同步调整产生Mana的数量
            I:PlayerXPAbsorptionSpeed=1

            # 阿卡纳蔷薇吸收玩家经验的转换比
            I:PlayerXPMana=50
        }

    }

    tconevo {
        B:OmnipotenceItemDrops=true

        omnipotenceitemdrops {
            # 全知全能(Omnipotence)词条击杀无掉落物修复
            # 必须同时添加'匠魂进化'与'无尽贪婪'Mod
            B:OmnipotenceItemDrops=true
        }

        hdpe {
            # 修复MekCEu无法指定HDPE的问题
            # 必须同时添加'匠魂进化'与'通用机械非官方社区版'Mod
            B:MekCEuHDPE=false
        }

    }

    ic2 {
        B:ElectricFurnaceExperience=true

        electricfurnaceexperience {
            # 如果为'true'则关闭IC2电炉经验掉落
            # 必须添加'工业2'Mod
            B:ElectricFurnaceExperience=true
        }

    }

    additionalapi {

        rsa {
            # 如果为'true'则注册RSA公私钥对生成命令
            B:RSA=false
        }

        playerchat {
            # 如果开启了聊天输出修改功能：以下设定的字符串将添加在聊天信息尾部
            S:ChatEnd=喵

            # 如果开启了聊天输出修改功能：则在尾部添加下述字符串标点
            # 如果ChatPunctuation为'true'优先使用原信息标点符号
            S:ChatEndPunctuationStr=~

            # 如果开启了聊天输出修改功能：以下设定的字符串将添加在聊天信息头部
            S:ChatHead=主人，

            # 如果开启了聊天输出修改功能：如果为'true'则将聊天信息尾部的标点符号移植EndChat末尾
            # 如果为'false'则将删除聊天信息的标点符号
            B:ChatPunctuation=true

            # 如果为'true'则开启玩家聊天输出修改
            B:ChatSet=false

            # 如果开启了聊天输出修改功能：此处定义什么是标点符号
            S:Punctuations=,，.。!！?？~

            # 如果开启了聊天输出修改功能：在信息开头输入此字符则不会修改聊天信息
            S:SourceChat=##
        }

        screenshot {
            # 如果为'true'则使用异步进行Screenshot
            B:PBO=true
        }

    }

    rgbchat {

        renderer {
            B:Renderer=true
        }

    }

    mekanism {
    }

}


